<table class="top-menu">
  <tr class="top-menu-icons">
  {% if site.menu.posts_visible %}
    <td>
    {% if class == 'post-menu-selected' %}
      <a href="{{ site.url }}/posts" title="Posts" class="menu-icon-selected"><span class="fa fa-clone"/></a>
    {% else %}
      <a href="{{ site.url }}/posts" title="Posts"><span class="fa fa-clone"/></a>
    {% endif %}
    </td>
  {% endif %}
  {% if site.menu.resume_visible %}
    <td>
    {% if class == 'resume-menu-selected' %}
      <a href="{{ site.url }}/resume/" title="Résumé" class="menu-icon-selected"><span class="fa fa-id-badge"/></a>
    {% else %}
      <a href="{{ site.url }}/resume/" title="Résumé"><span class="fa fa-id-badge"/></a>
    {% endif %}
    </td>
  {% endif %}
  {% if site.menu.projects_visible %}
    <td>
    {% if class == 'project-menu-selected' %}
      <a href="{{ site.url }}/projects" title="Projects" class="menu-icon-selected"><span class="fa fa-th-large"/></a>
    {% else %}
      <a href="{{ site.url }}/projects" title="Projects"><span class="fa fa-th-large"/></a>
    {% endif %}
    </td>
  {% endif %}
  {% if site.menu.cycling_visible %}
    <td>
    {% if class == 'cycling-menu-selected' %}
      <a href="{{ site.url }}/cycling/" title="Cycling" class="cycling-menu-icon cycling-menu-icon-selected"></a>
    {% else %}
      <a href="{{ site.url }}/cycling/" title="Cycling" class="cycling-menu-icon"></a>
    {% endif %}
    </td>
  {% endif %}
  </tr>
  <tr class="top-menu-description">
  {% if site.menu.posts_visible %}
    <td>
      <span class="posts-link">POSTS</span>
    </td>
  {% endif %}
  {% if site.menu.resume_visible %}
    <td>
      <span class="resume-link">RÉSUMÉ</span>
    </td>
  {% endif %}
  {% if site.menu.projects_visible %}
    <td>
      <span class="projects-link">PROJECTS</span>
    </td>
  {% endif %}
  {% if site.menu.cycling_visible %}
    <td>
      <span class="cycling-link">CYCLING</span>
    </td>
  {% endif %}
  </tr>
</table>