---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

{% case page.title %}
  {% when 'Page Does Not Exist...' %}
    {% assign page_type = "404" %}
    {% assign tag_link = "" %}

  {% when 'Project Tag Archive' %}
    {% assign page_type = "projects" %}
    {% assign tag_link = "project-tags" %}

  {% when 'Tag Archive' %}
    {% assign page_type = "posts" %}
    {% assign tag_link = "tags" %}

  {% else %}
    {% assign page_type = "" %}
    {% assign tag_link = "" %}

{% endcase %}
<body id="posts" class="inner-post-page">
    <div class="block-left">
      <div class="content">
        <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/images/{{ site.logo }}"></a>
        <div class="post-title-section">
          <div class="section-line">{{ page_type | capitalize}} <em>/</em></div>
          <h1 class="section-title">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
          <ul class="tags">
            {% for tag in page.tags %}
              <li><a href="{{ site.url }}/{{ tag_link }}#{{ tag }}">{{ tag }}</a></li>
              {% unless forloop.last %}
              {% endunless %}
            {% endfor %}
          </ul>
          <div class="section-line reverse">
            {% if page_type != "404" %}
              <a href="{{ site.url}}/{{ page_type }}">Back to {{ page_type }}</a><em>/</em>
            {% else %}
              <a href="{{ site.url}}">Back to home</a><em>/</em>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="block-right">
      <div class="share-buttons">
        {% include share.html %}
      </div>
      <a href="{{ site.url }}/posts" title="posts" class="posts-menu-icon"></a>
      <span class="posts-link">POSTS</span>
      <a href="{{ site.url }}/skills" title="skils" class="skills-menu-icon"></a>
      <span class="skills-link">SKILLS</span>
      <a href="{{ site.url }}/projects" title="projects" class="projects-menu-icon">
        <span></span>
      </a>
      <span class="projects-link">PROJECTS</span>
      <div class="inner-post content">
        <div class="date-highlight">{% if page.date %}{{ page.date | date: '%d %b %Y' }}{% else %}&#x2756;{% endif %}</div>
        {{ content }}
        <br>
        {% include page-pagination.html %}
      </div>
    </div>
    {% include scripts.html %}
    {% include overlay.html %}
</body>
</html>
