---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
  <body id="resume">

    <div class="block-left">
      <div class="content">
        <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/images/{{ site.logo }}"></a>
        <h1 class="section-title">{{ page.title }}<em>/</em>
        </h1>
      </div>
    </div>

    <div class="block-right">
      {% assign class = 'resume-menu-selected' %}
      {% include menu.html %}

      <div class="content">
        <div class="resume-list">
          {{ content }}
          <br>
          {% include page-pagination.html %}
        </div>
      </div>
    </div>
    {% include scripts.html %}
    <script type="text/javascript">highlightSkillsTableRows($('.skills-table').children('tbody'));</script>
  </body>
</html>
