---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
  <body id="resume">

    <div class="block-left">
      <div class="content">
        <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/images/{{ site.logo }}"></a>
        <h1 class="section-title">{{ page.title }}<em>/</em>
        </h1>
      </div>
    </div>

    <div class="block-right">
      {% if site.posts.size > 0 %}
        <a href="{{ site.url }}/posts" title="Posts" class="posts-menu-icon"></a>
        <span class="posts-link">POSTS</span>
      {% endif %}

      <a href="{{ site.url }}/resume" title="Resume" class="resume-menu-icon resume-menu-icon-selected"></a>
      <span class="resume-link">RESUME</span>

      <a href="{{ site.url }}/projects" title="Projects" class="projects-menu-icon">
        <span></span>
      </a>
      <span class="projects-link">PROJECTS</span>
      <div class="content">
        <div class="resume-list">
          {{ content }}
          <br>
          {% include page-pagination.html %}
        </div>
      </div>
    </div>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/resume.js"></script>
  </body>
</html>
